/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,WONK@0,9..144,100..900,0..1;1,9..144,100..900,0..1&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* Primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desat-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-mod-cyan: hsl(168, 34%, 41%);
  --light-blue: hsl(200, 100%, 62%);
  --light-green: hsl(167, 44%, 70%);

  /* Neutral */
  --very-dark-desat-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Barlow", sans-serif;
  --title-font: "Fraunces", serif;
  --normal-font-size: 18px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600; /* Just Barlow */
  --font-bold: 700; /* Just Fraunces */
  --font-black: 900; /* Just Fraunces */

  /*========== z index ==========*/
  --z-fixed: 2;
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

a,
button {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 375px;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.grid {
  display: grid;
}

.container {
  padding: 30px 25px;
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: var(--light-blue);
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.375rem;
  flex-wrap: wrap;
}

.nav__toggle {
  cursor: pointer;
}

.nav__menu {
  background-color: var(--white);
  position: absolute;
  padding: 2.75rem 6.5rem;
  z-index: var(--z-fixed);
  top: -100%; /* Hidden by default */
  right: 25px;
}

.nav__menu-triangle {
  width: 25px;
  height: 25px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: var(--white);
  position: absolute;
  top: -25px;
  right: 0%;
  z-index: var(--z-fixed);
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.nav__link {
  color: var(--grayish-blue);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
}

.nav__button {
  background-color: var(--yellow);
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  font-size: 1.1rem;
  color: var(--very-dark-desat-blue);
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-menu {
  top: 12%;
}

@media screen and (min-width: 820px) {
  .header__logo img {
    width: 173px;
  }

  .nav {
    padding: 0.3rem 0.85rem;
  }

  .nav__menu {
    position: static;
    background-color: transparent;
    padding: 0;
  }

  .nav__list {
    flex-direction: row;
    position: static;
    padding: 0;
    gap: 3.125rem;
    top: 0;
    right: auto;
  }

  .nav__link {
    color: var(--white);
    position: relative;
  }

  .nav__link::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .nav__link:hover::after {
    opacity: 1;
  }

  .nav__button {
    font-size: 1.25rem;
    background-color: var(--white);
    color: var(--very-dark-desat-blue);
    padding: 20px 35px;
    transition: background-color 0.3s ease;
  }

  .nav__button:hover {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.15);
  }

  .nav__toggle,
  .nav__menu-triangle {
    display: none;
  }
}

/*=============== HERO ===============*/
.hero {
  background-image: url("../images/mobile/image-header.jpg");
  height: 140vw;
  background-size: cover;
}

.hero__title {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: var(--white);
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.hero__arrow {
  justify-self: center;
}

@media screen and (min-width: 575px) {
  .hero {
    position: relative;
    background-image: url("../images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center 90%;
    height: 100vh;
  }

  .hero__title {
    font-size: 3.25rem;
    margin-top: 7.75rem;
  }

  .hero__arrow {
    margin-top: 1rem;
  }
}

/*=============== BASE SECTION STYLES ===============*/
.section {
  display: grid;
}

.section__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
  padding: 4rem 2rem;
  text-align: center;
}

.section__title {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  font-size: 2rem;
  color: var(--very-dark-desat-blue);
}

.section__text {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: 1rem;
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}

.section__link {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  color: var(--very-dark-desat-blue);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  margin: 0 auto;
  width: fit-content;
}

.section__link::after {
  content: "";
  height: 0.5rem;
  width: 110%;
  border-radius: 0.5rem;
  position: absolute;
  opacity: 0.3;
  left: -5%;
  bottom: -1px;
  transition: all 0.2s ease;
  pointer-events: none;
  z-index: -1;
}

.section__link:hover::after {
  opacity: 0.9;
}

.section__bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 83vw;
}

.brand .section__bg {
  background-image: url("../images/mobile/image-transform.jpg");
}

.brand .section__link::after {
  background-color: var(--yellow);
}

.audience .section__bg {
  background-image: url("../images/mobile/image-stand-out.jpg");
}

.audience .section__link::after {
  background-color: var(--soft-red);
}

@media screen and (min-width: 750px) {
  .section {
    grid-template-columns: 1fr 1fr;
  }

  .section__content {
    row-gap: 10.5rem;
    padding: 160px 105px 170px 165px;
    text-align: left;
  }

  .section__title {
    font-size: 2.5rem;
  }

  .section__text {
    font-size: 1.125rem;
  }

  .section__link {
    margin-left: 0.5rem;
  }

  .section__link::after {
    height: 8px;
    border-radius: 8px;
    left: -5%;
  }

  .section__bg {
    height: 100%;
    background-position: center;
  }
}

/*=============== BRAND ===============*/
@media screen and (min-width: 750px) {
  .brand .section__bg {
    background-image: url("../images/desktop/image-transform.jpg");
    order: 2;
  }

  .brand .section__link::after {
    background-color: var(--yellow);
  }
}

/*=============== AUDIENCE ===============*/
@media screen and (min-width: 750px) {
  .audience .section__bg {
    background-image: url("../images/desktop/image-stand-out.jpg");
  }

  .audience .section__link::after {
    background-color: var(--soft-red);
  }
}

/*=============== GRAPHIC DESIGN / PHOTOGRAPHY ===============*/
.graphic {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  height: 160vw;
}

.photography {
  background-image: url("../images/mobile/image-photography.jpg");
  height: 160vw;
}

.gdp__content {
  display: flex;
  flex-direction: column;
  height: 160vw;
  justify-content: flex-end;
  gap: 3rem;
  padding: 4rem 2rem;
}

.gdp__title {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  font-size: 2rem;
  text-align: center;
}

.gdp__text {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: center;
}

.graphic .gdp__title,
.graphic .gdp__text {
  color: var(--dark-desat-cyan);
}

.photography .gdp__title,
.photography .gdp__text {
  color: var(--dark-blue);
}

@media screen and (min-width: 750px) {
  .graphic,
  .photography {
    height: initial;
  }

  .graphic {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }

  .photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }

  .gdp__content {
    align-items: center;
    padding: 70px 24%;
    row-gap: 30px;
    height: 80vh;
  }

  .gdp__text {
    font-size: 1.125rem;
  }
}

/*=============== CLIENT TESTIMONIALS ===============*/
.testimonials__title {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  font-size: 0.95rem;
  color: var(--grayish-blue);
  text-align: center;
  margin-top: 5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.testimonials__container {
  display: grid;
  justify-content: center;
  align-content: space-between;
  margin-top: 5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.testimonial__card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.testimonial__img {
  width: 75px;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.testimonial__text {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: 1.125rem;
  color: var(--very-dark-grayish-blue);
  line-height: 1.8;
  margin-bottom: 2rem;
}

.testimonial__name {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  font-size: 1.1rem;
  color: var(--very-dark-desat-blue);
  margin-top: auto;
  margin-bottom: 0.7rem;
}

.testimonial__position {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: 0.9rem;
  color: var(--grayish-blue);
  margin-bottom: 5rem;
}

@media screen and (min-width: 1200px) {
  .testimonials__title {
    font-size: 1.25rem;
    margin-top: 11rem;
  }

  .testimonials__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12rem;
    margin-left: 13%;
    margin-right: 13%;
  }

  .testimonial__img {
    margin-bottom: 4rem;
  }

  .testimonial__text {
    margin-bottom: 4rem;
  }

  .testimonial__name {
    font-size: 1.35rem;
    margin-bottom: 1rem;
  }

  .testimonial__position {
    font-size: 1rem;
    margin-bottom: 10rem;
  }
}

/*=============== IMAGE GALLERY ===============*/
.gallery__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 750px) {
  .gallery__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery__img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .gallery__img.milkbottles {
    content: url("/resources/images/desktop/image-gallery-milkbottles.jpg");
  }
  .gallery__img.orange {
    content: url("/resources/images/desktop/image-gallery-orange.jpg");
  }
  .gallery__img.cone {
    content: url("/resources/images/desktop/image-gallery-cone.jpg");
  }
  .gallery__img.sugarcubes {
    content: url("/resources/images/desktop/image-gallery-sugarcubes.jpg");
  }
}

/*=============== FOOTER ===============*/
.footer__container {
  background-color: var(--light-green);
  display: grid;
  text-align: center;
}

.footer__logo {
  padding-top: 4rem;
}

.footer__logo--img {
  width: 175px;
}

.footer__content {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: 1.1rem;
  color: var(--dark-mod-cyan);
}

.footer__social {
  display: flex;
  justify-content: center;
  margin: 4.5rem 0;
  gap: 2rem;
}

@media screen and (min-width: 750px) {
  .footer__item {
    cursor: pointer;
  }

  .footer__item:hover {
    color: var(--white);
  }

  .footer__social--img {
    cursor: pointer;
  }

  .footer__social--img:hover {
    filter: brightness(0) invert(1);
  }
}

.attribution__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: var(--body-font);
  font-weight: var(--font-bold);
  font-size: 0.875rem;
  color: var(--dark-mod-cyan);
  gap: 1rem;
  padding-bottom: 3rem;
}

.attribution__container a {
  cursor: pointer;
  font-weight: var(--font-black);
  font-family: var(--title-font);
}

.attribution__container a:hover {
  color: var(--white);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
