/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,WONK@0,9..144,100..900,0..1;1,9..144,100..900,0..1&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* Primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desat-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-mod-cyan: hsl(168, 34%, 41%);
  --light-blue: hsl(200, 100%, 62%);

  /* Neutral */
  --very-dark-desat-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Barlow", sans-serif;
  --title-font: "Fraunces", serif;
  --normal-font-size: 18px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600; /* Just Barlow */
  --font-bold: 700; /* Just Fraunces */
  --font-black: 900; /* Just Fraunces */

  /*========== z index ==========*/
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

a,
button {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.grid {
  display: grid;
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: var(--light-blue);
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.header__logo img {
  width: 175px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 2.1%;
  font-size: 1.375rem;
}

.nav__list {
  display: inline-flex;
  gap: 3.125rem;
  align-items: center;
}

.nav__link {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  color: var(--white);
  position: relative;
}

.nav__link::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__button {
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  font-size: 1.25rem;
  color: var(--very-dark-desat-blue);
  text-transform: uppercase;
  background-color: var(--white);
  padding: 20px 35px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav__button:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.15);
}

/*=============== HERO ===============*/
.hero {
  position: relative;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center 90%;
  height: 100vh;
}

.hero__title {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  font-size: 3.25rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: var(--white);
  text-align: center;
  margin-top: 7.75rem;
}

.hero__arrow {
  justify-self: center;
  margin-top: 4.65rem;
}

/*=============== BASE SECTION STYLES ===============*/
.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10.5rem;
  padding: 160px 105px 170px 165px;
}

.section__title {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  font-size: 2.5rem;
  color: var(--very-dark-desat-blue);
}

.section__text {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: 1.125rem;
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}

.section__link {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  color: var(--very-dark-desat-blue);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  margin-left: 0.5rem;
}

.section__link::after {
  content: "";
  height: 8px;
  width: 18.5%;
  border-radius: 8px;
  position: absolute;
  opacity: 0.3;
  left: -1%;
  bottom: -1px;
  transition: all 0.2s ease;
  pointer-events: none;
  z-index: -1;
}

.section__link:hover::after {
  opacity: 0.9;
}

.section__bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/*=============== BRAND ===============*/
.brand .section__bg {
  background-image: url("../images/desktop/image-transform.jpg");
}

.brand .section__link::after {
  background-color: var(--yellow);
}

/*=============== AUDIENCE ===============*/
.audience .section__bg {
  background-image: url("../images/desktop/image-stand-out.jpg");
}

.audience .section__link::after {
  background-color: var(--soft-red);
}

/*=============== GRAPHIC DESIGN / PHOTOGRAPHY ===============*/
.graphic {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

.photography {
  background-image: url("../images/desktop/image-photography.jpg");
}

.gdp__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 70px 24%;
  row-gap: 40px;
  min-height: 80vh;
}

.gdp__title {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  font-size: 2rem;
}

.gdp__text {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: 1.125rem;
  line-height: 1.6;
  text-align: center;
}

.graphic .gdp__title,
.graphic .gdp__text {
  color: var(--dark-desat-cyan);
}

.photography .gdp__title,
.photography .gdp__text {
  color: var(--dark-blue);
}

/*=============== CLIENT TESTIMONIALS ===============*/
.testimonials__title {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  font-size: 1.25rem;
  color: var(--grayish-blue);
  text-align: center;
  margin-top: 11rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.testimonials__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: space-between;
  column-gap: 12rem;
  margin-top: 5rem;
  margin-left: 13%;
  margin-right: 13%;
}

.testimonial__card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.testimonial__img {
  width: 75px;
  border-radius: 50%;
  margin-bottom: 4rem;
}

.testimonial__text {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: 1.125rem;
  color: var(--very-dark-grayish-blue);
  line-height: 1.8;
  margin-bottom: 4rem;
}

.testimonial__name {
  font-family: var(--title-font);
  font-weight: var(--font-black);
  font-size: 1.35rem;
  color: var(--very-dark-desat-blue);
  margin-top: auto;
  margin-bottom: 1rem;
}

.testimonial__position {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: 1rem;
  color: var(--grayish-blue);
  margin-bottom: 10rem;
}

/*=============== IMAGE GALLERY ===============*/
.gallery__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery__img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  object-position: top;
}
