/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,WONK@0,9..144,100..900,0..1;1,9..144,100..900,0..1&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* Primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desat-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-mod-cyan: hsl(168, 34%, 41%);
  --light-blue: hsl(200, 100%, 62%);

  /* Neutral */
  --very-dark-desat-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Barlow", sans-serif;
  --title-font: "Fraunces", serif;
  --normal-font-size: 18px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600; /* Just Barlow */
  --font-bold: 700; /* Just Fraunces */
  --font-black: 900; /* Just Fraunces */

  /*========== z index ==========*/
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

a,
button {
  text-decoration: none;
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: var(--light-blue);
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.header__logo img {
  width: 175px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 2.1%;
  font-size: 1.375rem;
}

.nav__list {
  display: inline-flex;
  gap: 3.125rem;
  align-items: center;
}

.nav__link {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  color: var(--white);
  position: relative;
}

.nav__link::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__button {
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  font-size: 1.25rem;
  background-color: var(--white);
  padding: 20px 35px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav__button:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.15);
}
